.DS_Store

# virtualenv
myvenv/

#Server
draw_site/draw_site/__pycache__/


#App
draw_site/draw_member/__pycache__/
draw_site/draw_member/__pycache__/*.pyc

draw_site/draw_member/migrations/__pycache__/